@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Safari Fix */
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .safari-fix {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
        }
    }
}

@layer components {
    .btn {
        @apply rounded-2xl bg-indigo-500 p-3 text-white hover:bg-indigo-600 disabled:bg-indigo-300;
    }
    .btn-white {
        @apply cursor-pointer rounded-2xl bg-[#F2F6FA] p-3 hover:bg-slate-200 disabled:bg-indigo-300 dark:bg-black dark:text-white dark:hover:bg-gray-800;
    }
    .btn-chat {
        @apply cursor-pointer rounded-2xl p-3 hover:bg-slate-200 disabled:bg-indigo-300 dark:bg-black dark:text-white dark:hover:bg-gray-800;
    }

    .chat {
        @apply cursor-pointer rounded-2xl border p-3 shadow-sm shadow-black/10 hover:bg-slate-100 disabled:bg-indigo-300;
    }
    .textarea {
        /* bg-gray-700 */
        @apply resize-none rounded-2xl bg-transparent pl-8 pr-8 pt-2 text-black focus:outline-none dark:text-white;
    }

    .side-menu-item {
        @apply grid cursor-pointer grid-cols-[20px_1fr] gap-4 rounded-2xl p-3 hover:bg-slate-200 dark:text-white dark:hover:bg-gray-600;
    }

    .chat-content {
        @apply bg-white dark:border-0 dark:bg-transparent dark:text-white;
    }
}
